@use "base/variables" as v;
@use "base/mixins" as m;


.paginacion {
    padding: v.$separacion 0;
    gap: 1rem;

    @include m.telefono {
        display: flex;
        justify-content: space-between;
    }

    button {
        margin: 0rem 0rem 1rem 0rem;
    }
}

.ocultar {
    visibility: hidden;
}
