@use "base/variables" as v;
@use "base/mixins" as m;
@use "sass:color";

.listado-servicios {
    display: grid;
    gap: 2rem;

    @include m.tablet {
        @include m.grid(2, 2rem);
    }

    .servicio {
        background-color: v.$blanco;
        padding: 3rem;
        border-radius: 1rem;
        transition-property: transform;
        transition-duration: 300ms;
        text-align: center;
        cursor: pointer;

        &.seleccionado {
            background-color: v.$azul;

            p {
                color: v.$blanco;
            }
        }

        &:hover {
            transform: scale(1.1);
            background-color: color.adjust(v.$blanco, $lightness: -15%);
            border: 1px color.adjust( v.$gris, $lightness: -25% ) solid;
        }

        p {
            color: v.$negro;
            margin: 0 0 calc(v.$separacion / 4) 0;
        }

        .precio-servicio {
            color: v.$azul;
            font-weight: v.$bold;
            font-size: 3rem;
            margin: 0px;
        }
    }
}
